<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>MeetMe - Resume Website Template</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  </head>
  <body>

    <!-- Header Area wrapper Starts -->
    <header id="header-wrap">
      <!-- Navbar Start -->
      <nav class="navbar navbar-expand-lg fixed-top scrolling-navbar indigo">
        <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
              <span class="icon-menu"></span>
              <span class="icon-menu"></span>
              <span class="icon-menu"></span>
            </button>
            <a href="index.html" class="navbar-brand"><img src="https://s3.ap-south-1.amazonaws.com/user-source/jason/je1-logo.png" style="height: 62px;width: 62px;" alt=""></a>
          </div>
          <div class="collapse navbar-collapse" id="main-navbar">
            <ul class="onepage-nev navbar-nav mr-auto w-100 justify-content-end clearfix">
              <li class="nav-item active">
                <a class="nav-link" href="#hero-area">
                  Home
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#about">
                  About
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#services">
                  Skills
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#resume">
                  Resume
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#portfolios">
                  Work
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#contact">
                  Contact
                </a>
              </li>
            </ul>
          </div>
        </div>

        <!-- Mobile Menu Start -->
        <ul class="onepage-nev mobile-menu">
          <li>
            <a href="#home">Home</a>
          </li>
          <li>
            <a href="#about">about</a>
          </li>
          <li>
            <a href="#services">Services</a>
          </li>
          <li>
            <a href="#resume">resume</a>
          </li>
          <li>
            <a href="#portfolio">Work</a>
          </li>
          <li>
            <a href="#contact">Contact</a>
          </li>
        </ul>
        <!-- Mobile Menu End -->
      </nav>
      <!-- Navbar End -->

      <!-- Hero Area Start -->
      <div id="hero-area" class="hero-area-bg">
        <div class="overlay"></div>
        <div class="container">
          <div class="row">
            <div class="col-md-12 col-sm-12 text-center">
              <div class="contents">
                <h5 class="script-font wow fadeInUp" data-wow-delay="0.2s">Hi This is</h5>
                <h2 class="head-title wow fadeInUp" data-wow-delay="0.4s">Jason Elliot J</h2>
                <p class="script-font wow fadeInUp" data-wow-delay="0.6s">Ruby on Rails Full-Stack Developer </p>
                <ul class="social-icon wow fadeInUp" data-wow-delay="0.8s">
                  <li>
                    <a class="facebook" href="#"><i class="fa fa-facebook" style="font-size:18px"></i></a>
                  </li>
                  <li>
                    <a class="twitter" href="#"><i class="fa fa-twitter" style="font-size:18px"></i></a>
                  </li>
                  <li>
                    <a class="instagram" href="#"><i class="fa fa-instagram" style="font-size:18px"></i></a>
                  </li>
                  <li>
                    <a class="linkedin" href="#"><i class="fa fa-linkedin" style="font-size:18px"></i></a>
                  </li>
                  <li>
                    <a class="google" href="#"><i class="fa fa-google" style="font-size:18px"></i></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Hero Area End -->

    </header>
    <!-- Header Area wrapper End -->

    <!-- About Section Start -->
    <section id="about" class="section-padding">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="img-thumb wow fadeInLeft" data-wow-delay="0.3s">
              <img class="img-fluid" src="https://s3.ap-south-1.amazonaws.com/user-source/jason/full_profile.jpg" alt="">
            </div>
          </div> 
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="profile-wrapper wow fadeInRight" data-wow-delay="0.3s">
              <h3>Hi Guys!</h3>
              <p>I&lsquo;m an Engineering graduate with a year&lsquo;s experience under my belt having worked as an Assistant Manager at Reliance Infocomm Ltd in  marketing , networking and customer relations. I want to work for a progressive company be of value to the organization and in the process develop my professional skills.</p>
              <div class="about-profile">
                <ul class="admin-profile">
                  <li><span class="pro-title"> Name </span> <span class="pro-detail">Jason Elliot J </span></li>
                  <li><span class="pro-title"> Age </span> <span class="pro-detail">23 Years</span></li>
                  <li><span class="pro-title"> Experience </span> <span class="pro-detail">1.5 Years</span></li>
                  <li><span class="pro-title"> Country </span> <span class="pro-detail">India</span></li>
                  <li><span class="pro-title"> Location </span> <span class="pro-detail">Chennai, TN</span></li>
                  <li><span class="pro-title"> E-mail </span> <span class="pro-detail">elliotjjason@gmail.com</span></li>
                  <li><span class="pro-title"> Phone </span> <span class="pro-detail">+91 7395981393</span></li>
                  <li><span class="pro-title"> Job Status </span> <span class="pro-detail">Seeking Employment</span></li>
                </ul>
              </div>
              <a class="btn btn-common" target="_blank" style="font-size:20px;" href="https://s3.ap-south-1.amazonaws.com/user-source/jason/Jason+Elliot+Resume.pdf"><i class="fa fa-paperclip" style="font-size:20px"></i> Download Resume</a>
              <a href="mailto:elliotjjason@gmail.com" class="btn btn-danger"><i class="material-icons">message</i> Contact Me</a>
            </div>
          </div>   
        </div>
      </div>
    </section>
    <!-- About Section End -->

    <!-- Services Section Start -->
    <section id="services" class="services section-padding">
      <h2 class="section-title wow flipInX" data-wow-delay="0.4s">What I do</h2>
      <div class="container">
        <div class="row">
          <!-- Services item -->
          <div class="col-md-6 col-lg-3 col-xs-12">
            <div class="services-item wow fadeInDown" data-wow-delay="0.3s">
              <div class="icon">
                <i class="material-icons">grid_on</i>
              </div>
              <div class="services-content">
                <h3><a>Rails Developer</a></h3>
                <p>I&lsquo;m responsible for writing server-side web application logic in Ruby, around the framework Rails. </p>
              </div>
            </div>
          </div>
          <!-- Services item -->
          <div class="col-md-6 col-lg-3 col-xs-12">
            <div class="services-item wow fadeInDown" data-wow-delay="0.6s">
              <div class="icon">
              <i class="fa fa-briefcase"></i>
              </div>
              <div class="services-content">
                <h3><a>Marketing</a></h3>
                <p>Marketing of products or services using digital technologies, on the Internet and retailers.</p>
              </div>
            </div>
          </div>
          <!-- Services item -->
          <div class="col-md-6 col-lg-3 col-xs-12">
            <div class="services-item wow fadeInDown" data-wow-delay="0.9s">
              <div class="icon">
              <i class="material-icons">layers</i>
              </div>
              <div class="services-content">
                <h3><a>Front-end Developer</a></h3>
                <p>I develope websites and applications using web technologies (i.e., HTML, CSS, Jquery, and JavaScript)</p>
              </div>
            </div>
          </div>
          <!-- Services item -->
          <div class="col-md-6 col-lg-3 col-xs-12">
            <div class="services-item wow fadeInDown" data-wow-delay="1.2s">
              <div class="icon">
                <i class="material-icons">bubble_chart</i>
              </div>
              <div class="services-content">
                <h3><a>Problem Solving</a></h3>
                <p>Solving problems consists of using ad hoc methods in an order to find solutions to problems.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Services Section End -->

    <!-- Resume Section Start -->
    <div id="resume" class="section-padding">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="education wow fadeInRight" data-wow-delay="0.3s">
              <ul class="timeline">
                <li>
                  <i class="fa fa-graduation-cap"></i>
                  <h2 class="timelin-title">Education</h2>
                </li>
                <li>
                  <div class="content-text">
                    <h3 class="line-title">B.Tech In IT - Loyola ICAM College of Engineering & Technology</h3>
                    <span>2013 - 2017</span>
                    <p class="line-text">Engineering Graduate in the Department of Information & Technology</p>
                  </div>
                </li>
                <li>
                  <div class="content-text">
                    <h3 class="line-title">Higher Secondary School - Elite Mat High Sec School</h3>
                    <span>2011 - 2013</span>
                    <p class="line-text">Science and Mathematics Major in High School</p>
                  </div>
                </li>
                <li>
                  <div class="content-text">
                    <h3 class="line-title">Secondary School - Elite Mat High Sec School </h3>
                    <span>2009 - 2011</span>
                    <p class="line-text"></p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="experience wow fadeInRight" data-wow-delay="0.6s">
              <ul class="timeline">
                <li>
                  <i class="fa fa-briefcase"></i>
                  <h2 class="timelin-title">Experience</h2>
                </li>
                <li>
                  <div class="content-text">
                    <h3 class="line-title">Asst.Manager - Reliance Jio Infocomm Ltd</h3>
                    <span>Oct 2017 - Jan 2019</span>
                    <p class="line-text">Executed test cases and raised issues in Ring0 Mavenir Testing.

                      Analyzing and tracking daily sales across distributors and own stores. Technical support in sales operations and marketing.
                      
                      New site acquisition, drive testing, Optimization and network complaints closed for network operations.
                      
                      Attended to customer issues and resolved complaints. </p>
                  </div>
                </li>
                
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Resume Section End -->

    <!-- Portfolio Section -->
    <section id="portfolios" class="section-padding">
      <!-- Container Starts -->
      <div class="container">        
        <h2 class="section-title wow flipInX" data-wow-delay="0.4s">My Works</h2>
        <div class="row">          
          <!-- Portfolio Recent Projects -->
          <div id="portfolio" class="row wow fadeInDown" data-wow-delay="0.4s">
            <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix development print">
              <div class="portfolio-item">
                <div class="services-item wow fadeInDown" data-wow-delay="0.6s">
                  <div class="services-content">
                    <h3><a href="https://www.offchance.com/" target="_blank">Shooting Cubes</a></h3>
                    <p>It&lsquo;s an augmented reality gaming application for android where the users shoot cubes</p>
                  </div>
                </div>              
              </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix development print">
              <div class="portfolio-item">
                <div class="services-item wow fadeInDown" data-wow-delay="0.6s">
                  <div class="services-content">
                    <h3><a href="http://alpha-blog-jasonelliot.herokuapp.com" target="_blank">Alpha-Blog</a></h3>
                    <p>It's an online blog where users can signup to read, create, edit, update and delete artices.

                       The users can also edit and update there own profile and there contents.</p>
                  </div>
                </div>              
              </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix development print">
              <div class="portfolio-item">
                <div class="services-item wow fadeInDown" data-wow-delay="0.6s">
                  <div class="services-content">
                    <h3><a href="https://finance-tracker-jasonelliot.herokuapp.com" target="_blank">Stock Tracking App</a></h3>
                    <p> A finance stock tracking website where users can signup and follow any company's stock price.

                      The users can also search and add new friends and view their company listing for reference</p>
                  </div>
                </div>              
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Container Ends -->
    </section>
    <!-- Portfolio Section Ends --> 

    <!-- Counter Area Start-->
    <section class="counter-section section-padding">
      <div class="container">
        <div class="row">
          <!-- Counter Item -->
          <div class="col-md-3 col-sm-6 work-counter-widget text-center">
            <div class="counter wow fadeInDown" data-wow-delay="0.3s">
              <div class="icon"><i class="fa fa-briefcase"></i></div>
              <div class="counterUp">1</div>
              <p>Marketing</p>
            </div>
          </div>
          <!-- Counter Item -->
          <div class="col-md-3 col-sm-6 work-counter-widget text-center">
            <div class="counter wow fadeInDown" data-wow-delay="0.6s">
              <div class="icon"><i class="fa fa-check"></i></div>
              <div class="counterUp">2</div>
              <p>Report Tracking & Analysis </p>
            </div>
          </div>
          <!-- Counter Item -->
          <div class="col-md-3 col-sm-6 work-counter-widget text-center">
            <div class="counter wow fadeInDown" data-wow-delay="0.9s">
              <div class="icon"><i class="fa fa-diamond"></i></div>
              <div class="counterUp">3</div>
              <p>Customer Relations</p>
            </div>
          </div>
          <!-- Counter Item -->
          <div class="col-md-3 col-sm-6 work-counter-widget text-center">
            <div class="counter wow fadeInDown" data-wow-delay="1.2s">
              <div class="icon"><i class="fa fa-heart"></i></div>
              <div class="counterUp">4</div>
              <p>Onboarding</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Counter Area End-->

    <!-- Contact Section Start -->
    <section id="contact" class="section-padding">      
      <div class="contact-form">
        <div class="container">
          <div class="row contact-form-area wow fadeInUp" data-wow-delay="0.4s">          
            <div class="col-sm-12">
              <div class="footer-right-area wow fadeIn">
                <h2>Contact Address</h2>
                <div class="footer-right-contact">
                  <div class="single-contact">
                    <div class="contact-icon">
                      <i class="fa fa-map-marker"></i>
                    </div>
                    <p>Chennai, TN</p>
                  </div>
                  <div class="single-contact">
                    <div class="contact-icon">
                      <i class="fa fa-envelope"></i>
                    </div>
                    <p><a href="mailto:elliotjjason@gmail.com">elliotjjason@gmail.com</a></p>
                  </div>
                  <div class="single-contact">
                    <div class="contact-icon">
                      <i class="fa fa-phone"></i>
                    </div>
                    <p><a href="tel:7395981393">+91 7395981393</a></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>   
    </section>
    <!-- Contact Section End -->

    <!-- Footer Section Start -->
    <footer class="footer-area section-padding">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="footer-text text-center wow fadeInDown" data-wow-delay="0.3s">
              <ul class="social-icon">
                <li>
                  <a class="facebook" href="#"><i class="fa fa-facebook"></i></a>
                </li>
                <li>
                  <a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
                </li>
                <li>
                  <a class="instagram" href="#"><i class="fa fa-instagram"></i></a>
                </li>
                <li>
                  <a class="instagram" href="#"><i class="fa fa-linkedin"></i></a>
                </li>
                <li>
                  <a class="instagram" href="#"><i class="fa fa-google"></i></a>
                </li>
              </ul>
              <p>Copyright © 2018 UIdeck All Right Reserved</p>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Go to Top Link -->
    <a href="#" class="back-to-top">
      <i class="fa fa-arrow-up"></i>
    </a>

    
      
  </body>
</html>

